<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated ConfigurationsMM -->
      <package
            uri="http://vitruv.tools/methodologisttemplate/config"
            class="configurationPackage.configPackage"
            genModel="src/main/ecore/ConfigurationsMM.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated UVL -->
      <package
            uri="http://vitruv.tools/methodologisttemplate/uvl"
            class="UVLPackage.uvlPackage"
            genModel="src/main/ecore/UVL.genmodel"/>
   </extension>

</plugin>
